* {
    margin: 0;
    padding: 0;
}

.courses {
    margin-top: 6rem;
    padding: 1rem;
  
    
}
.courses h1 {
    font-size: 40px;
    font-weight: 500;
}

.courses input {
    width: 400px;
    height: 50px;
    border: 1px solid gray;
    font-size: 25px;
    border-radius: 3px;
    outline: none;
}

.courses button {
    width: 300px;
    height: 50px;
    background-color: dodgerblue;
    border-radius: 3px;
    border: none;
    font-size: 20px;
    color: white;
   
} 

.input_to_add_course {
    display: flex;
    gap: 20px;
}
.course_list{
    gap: 20px;
    margin-top: 2rem;
}
.course {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    margin-bottom: 10px;
    padding: 0.5rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.course:hover {
    background-color: rgba(128, 128, 128, 0.06);

}
.actions {

    gap:20px ;
    display: flex;
}
button.action {
    width: 30px;
    height: 30px;
    font-size: 15px;
}
button.deleteButton {
    background-color: red;
}

.black_screen {
    position: fixed; /* Ensure it covers the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.17); /* Semi-transparent black */
    z-index: 999; /* Make sure it is on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.courseLoader {
    height: 20px;
    animation: changeColor 2s ease;
}

@keyframes changeColor {
    0% {
      background-color: rgba(128, 128, 128, 0.697);
    }
    50% {
      background-color: rgba(88, 93, 96, 0.067); /* Change to desired color */
    }
    100% {
      background-color: rgba(225, 45, 45, 0.697);
    }
  }
  